<section class="abouts">
    <div class="about p70">
        <div class="container">
            <div class=" wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.7s">
                <div class="row hidden-xs">
                    <h3 class="font-bold font-raleway text-center color-base padding20 margin0">ABOUT SWAAP</h3>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="arrows">
                            <img src="img/favicon.png" alt="" class="img-responsive margin-auto">
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                      <div class="row hidden-md hidden-lg">
                          <h3 class="font-bold font-raleway text-center padding20 color-base margin0">ABOUT SWAAP</h3>
                      </div>
                        <div class="abt-desc mt20 mb20">
                            <p class="text-justify">Swaap has come into being from experience and innovation, from the others in the barter industry. Most personal, in sales as well as support, have had hands-on experience in barter business.</p>

                            <p class="text-justify">
                                We do not view a business transaction as only a commercial trade, we build stronger bonds with our client vendors with each transaction, primarily due to the transparency and fairness in the interaction.
                            </p>
                            <p class="text-justify">
                                As we say, we bring value to trade. We also take on a consultancy role wherever necessary, so as to enable the client vendors to achieve maximum benefit with their limited resources. This gives each vendor the best value for resource solution.
                            </p>
                            <p class="text-justify">
                                We believe in keeping our commitments as these are the only aspect we can call our own. Hence we promise very little and deliver more than we promise.
                            </p>
                            <p class="text-justify">
                                Good client support, clear communication, transparent dealings and fair trade are trademarks of Swaap business. The barter buck stops here!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
