<section class="contactus">
    <div class="about p70">
        <div class="container">
            <div class=" wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.7s">
                <div class="row hidden-xs">
                    <h3 class="font-bold font-raleway text-center color-base padding20 margin0">Contact Us</h3>
                </div>
                <div class="row hidden-md hidden-lg">
                    <h3 class="font-bold font-raleway text-center padding20 color-base margin0">Contact Us</h3>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="info">
                            <h4>Address: </h4>
                            <p>Office No. 201-202, Rani's Landmark, 2nd Floor, Jeevdaya Lane, R.B Kadam Marg, Near Telephone Exchange, Ghatkopar (West),Mumbai 400 086</p>
                        </div>
                        <div class="info">
                            <h4>Email: </h4>
                            <p>admin@swaap.in</p>
                        </div>
                        <div class="info">
                            <h4>Phone: </h4>
                            <p>022 2511 2288 / 022 2511 2299</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.3905535009503!2d72.90194441442485!3d19.090515056478047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c7d4831d8bf9%3A0x955e79570d381ff8!2s2%2C+Ramchandra+B+Kadam+Marg%2C+Jivdaya+Lane%2C+Ghatkopar+West%2C+Mumbai%2C+Maharashtra+400086!5e0!3m2!1sen!2sin!4v1471421687522"
                                width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
