<section class="mobile-download">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="cell-img">
                            <img src="img/phones.png" class="img-responsive" alt="SWAAP">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="margin-all">
                            <div class="download-link tcenter">
                                <h2 class="font-app">{{'DOWNLOAD SWAAP'}}</h2>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="play-store">
                                        <a href="" target="_blank">
                                            <img src="img/play-store.png" class="img-responsive" alt="SWAAP">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="app-store play-store">
                                        <a href="" target="_blank">
                                            <img src="img/app-store.png" class="img-responsive" alt="SWAAP"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>
