@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #ff8621 !default;
$brand-success-light: #0093b0 !default;
$brand-success: #588ed0 !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$brand-base: #474d4f !default;
$grey-base: #969696 !default;
$facebook: #3b5998 !default;
$google: #dc4a38 !default;
$white: #fff !default;
$transparent: rgba(255, 255, 255, 0) !default;
$bold: 600 !default;
$light: 300 !default;
$font-family-sans-serif: "Lato","Raleway", sans-serif !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}
a{
  text-decoration: none;
}
.padding0{
  padding: 0;
}
.color-base {
    color: #474d4f;
}
.padding20{
      padding: 20px 0;
}
.font-light {
    font-weight: 300;
}
body {
      background-color: #f7f7f7;
}

.text-justify{
  text-align: justify;
}

img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
a, .btn {
  cursor: pointer;
  @include transition(all ease 300ms);
}
//button
.btn-animate-become {
  border-color: #fff;
  position: relative;
  background-color: transparent;
  color: #fff;
  z-index: 1;
  @include transition(all 500ms cubic-bezier(0.42, 0, 0.58, 1));
  &:hover {
    border-color: $brand-primary !important;
    &:after {
      width: 100%;
      right: 0;
      left: auto;
      background-color: $brand-primary;
    }
  }
  &:after {
    content: "";
    @include size(0,100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @include transition(all 500ms cubic-bezier(0.42, 0, 0.58, 1));
  }
}
.btn-animate-org {
  position: relative;
  background-color: #fa4b01;
  color: #fff;
  z-index: 1;
  @include transition(all 500ms cubic-bezier(0.42, 0, 0.58, 1));
  &:hover {
    color: #fa4b01;
    &:after {
      width: 100%;
      right: 0%;
      left: auto;
      background-color: #fff;
      color: #fa4b01;
    }
  }
  &:after {
    content: "";
    @include size(0,100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @include transition(all 500ms cubic-bezier(0.42, 0, 0.58, 1));
  }
}
.btn-animate-success {
  position: relative;
  background-color: $brand-success;
  color: #fff;
  z-index: 1;
  @include transition(all 500ms cubic-bezier(0.42, 0, 0.58, 1));
  &:hover {
    color: $brand-success;
    &:after {
      width: 100%;
      right: 0%;
      left: auto;
      background-color: #fff;
      color: $brand-success;
    }
  }
  &:after {
    content: "";
    @include size(0,100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @include transition(all 500ms cubic-bezier(0.42, 0, 0.58, 1));
  }
}
.btn-animate-inverse-success {
  position: relative;
  border-color: $brand-success;
  background-color: transparent;
  color: $brand-success;
  z-index: 1;
  @include transition(all 500ms cubic-bezier(0.42, 0, 0.58, 1));
  &:hover {
    color: #fff;
    &:after {
      width: 100%;
      right: 0%;
      left: auto;
      background-color: $brand-success;
    }
  }
  &:after {
    content: "";
    @include size(0,100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @include transition(all 500ms cubic-bezier(0.42, 0, 0.58, 1));
  }
}
.btn-animate-inverse-org {
  position: relative;
  border-color: $brand-primary;
  background-color: transparent;
  color: $brand-primary;
  z-index: 1;
  @include transition(all 500ms cubic-bezier(0.42, 0, 0.58, 1));
  &:hover {
    color: #fff;
    &:after {
      width: 100%;
      right: 0%;
      left: auto;
      background-color: $brand-primary;
    }
  }
  &:after {
    content: "";
    @include size(0,100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @include transition(all 500ms cubic-bezier(0.42, 0, 0.58, 1));
  }
}
//bootstrap forms
.input-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.btn,
.form-control {
  border-radius: 0;
  @include box-shadow(none);
}
.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}
.fancybox-image {
    opacity: 1!important;
}
.fancybox-image {
    opacity: 1!important;
}
.fancybox-nav {
    top: 50%;
    @include transform(translateY(-50%));
    height: 40%;
  }
//bootstrap forms
/* Start writing sass here */
@import "fancybox-override";
.home {
  height: 550px;
  position: relative;
  overflow: hidden;
}
//header//
.righ-side ul li {
    padding: 0 12px;
    line-height: 100%;
}

.mt30 {
    margin-top: 30px;
}
.custom-li ul li {
    display: inline-block;
}
.pos-relative{
  position: relative;
  z-index: 3;
}
.profile {
    position: relative;
}
.pointer {
    cursor: pointer;
}

.img-rounded {
    border-radius: 6px;
}

.navbar-fixed-top, .navbar-fixed-bottom{
  position: absolute;
}

.home-page .header-white-black {
    border: none;
    box-shadow: none;
    background-color: rgba(0,0,0,0.5);
}
.header-white-black {
    padding: 8px 0 20px 0;
    z-index: 99999999;
  }
.home-page button {
    color: #fff;
    background-color: rgba(255,255,255,0);
    border-color: #fff;
}
.hamburger {
    padding: 0;
    border: none;
  }
  .hamburger span {
      width: 30px;
      height: 2px;
      display: block;
      margin-bottom: 5px;
      left: 0;
      background-color: #fff;
  }
.resize{
  resize: none;
}
.register-text{
  position: relative;
    padding: 15px 0;
  background-color: #333;
  p{
    color: #fff;
  }
  a{
    position: absolute;
    right: 10px;
    bottom: 24px;
  }
}
.text-up{
  text-transform: uppercase;
}
.form-border{
  border: 1px solid #000;
  .form-group{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }

}
.butns{
  width: 100%;
  background-color: #fa4b01;
  border: 1px solid #fa4b01;
  padding: 10px 0;
  color: #fff;
  &:active{
    outline: 0;

  }
  &:focus{
      outline: 0;
  }
}
.block{
  display: block;
}
  .navbar-header
  {
    margin-top: 10px;
  }
  .btn-animate-become:hover:after {
      width: 100%;
      right: 0;
      left: auto;
      background-color: #fff;
  }
  .btn-animate-become:hover {
    border-color: #fff!important;
}
.righ-side{
  margin-top: 23px;
}

.navbar-brand {

    padding: 25px 15px;
}
.logo {
  @include margin(0px 0px 0px 18px);
}
//home starts here
.works{
  padding: 0 0 60px 0;
}
.righ-side{
  li{
    a{
      display: block;
    border: 1px solid #fff;
    }
  }
}

.mobile-download{
  padding: 45px 0;
}
.about{
  p{
    margin-bottom: 15px;
  }
}
.margin-all{
  padding-top: 110px;
}

.home {
  &:hover {
    color: $brand-base;
  }
  &:active {
    color: $brand-base;
  }
  &:focus {
    color: $brand-base;
  }
}

.hero-background {
position: relative;
overflow: hidden;
}
.flexslider{
  border:none;
}
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 40px;
    text-align: center;
    z-index: 2;
}

.black-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.38);
  top: 0;
  left: 0;
  z-index: 1;
}
.video {
  position: absolute;
  top: 0;
  height: auto;
  width: 100%;
}
.home-contain {
  position: absolute;
  width: 100%;
  z-index: 9;
  height: 100%;
  z-index: 9;
}
.need-help {
  position: absolute;
  transform: rotate(-90deg);
  right: -87px;
  top: 30%;
  button {
    font-size: 16px;
    padding: 12px 16px;
  }
}
.search-pos {
  position: absolute;
  width: 100%;
  top: 50%;
}
.search-icon {
  position: absolute;
  left: 15px;
  top: 10px;
}
.search-input {
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
}
.search-br {
  width: 83%;
  float: left;
  input {
    padding: 6px 10px 6px 50px;
    height: 40px;
    font-size: 14px;
  }
}
.form-control {
  border-radius: 0;
  &:focus {
    outline: 0;

    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075), 0 0 0 rgba(102, 175, 233, 0.6);
  }
  &:active {
    outline: 0;
  }
}
.pos-relative {
  position: relative;
}
input {
  @include placeholder {
    font-weight: 300;
    font-size: 14px;
  }
}
.search-btn {
  button {
    font-size: 15px;
    padding: 9px 25px;
  }
}
.btn-blue {
  @include button-variant($white, $brand-success, $brand-success);
}
.mobile-download {
  background-color: #cecece;
}

.mt60 {
  margin-top: 60px;
}
.mt7 {
  margin-top: 7px;
}
.m20 {
  margin: 20px 0;
}
.margin-auto{
  margin: 0 auto;
}
.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,.col-xs-12{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.icon-box img {
    max-height: 100%;
    max-width: 100%;
}

.icon-box {
    height: 50px;
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}
.icon-title {
    display: inline-block;
    padding-left: 12px;
}

//footer
.footer {
    padding-top: 20px;
}
.border{
  border-top: 1px solid #ccc;
}
.p70{
  padding: 70px 0 20px 0;
}
.footer-menu ul li a {
    color: #969696;
    font-weight: 300;
    transition: all .3s linear;
    text-decoration: none;
    text-transform: capitalize;
}

.footer-menu ul {
    list-style: none;
}

.display-inline{
  display: inline-block;
}

.footer-menu ul li {
    padding: 4px 0;
}

.footer-menu ul li a:hover {
    color: #fa4b01;
    transition: all .3s linear;
    text-decoration: none;
}
// .btn-animate-org:hover {
//     color: #fa4b01;
// }
.sub-footer {
  background-color: #292624;
  color: #fff;
  padding: 15px 0;
}
.bk-grey {
  background-color: #cecece;
}
.social-set {
  ul {
    list-style: none;
    display: block;
    margin-top: 10px;
    li {
      display: inline-block;
      padding: 0 4px;
      a {
        i {
          @include square(30px);
          color: #959595;
          padding: 5px 6px;
          border: 1px solid #959595;
          border-radius: 100%;
          font-size: 19px;
          @include transition(all 300ms linear);
          &:hover {
            color: #fff;
            background-color: #959595;
            @include transition(all 300ms linear);
          }
        }
      }
    }
  }
}
//side menu//
.side-menu {
    width: 300px;
    height: 100%;
    padding: 30px 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #2a2a2a;
    color: #fff;
}
.menu-in {
    transform: translateX(0);
    transition: all .3s linear;
}

.menu-out {
    transform: translateX(-450px);
    transition: all .3s linear;
}
.closemenu {
    position: absolute;
    left: 20px;
    cursor: pointer;
}
.closemenu,.close-icon,.heading-menu {
    font-size: 20px;
}
.close-icon {
    cursor: pointer;
}
.side-menu .navbar-nav {
    margin: 15px 0 0;
    float: none;
}
.side-menu .navbar-nav li a {
    padding: 15px 0;
    background-color: transparent!important;
    font-size: 16px;
}
header .navbar-default .navbar-nav>li>a {
    transition: all .3s linear;
}

header .navbar-default .navbar-nav>.active>a, header .navbar-default .navbar-nav>.active>a:focus, header .navbar-default .navbar-nav>.active>a:hover {
    color: #ff8621;
}

.nav>li {
    display: block;
    position: relative;
}
.side-menu .navbar-nav li {
    float: none;
}
.side-menu .ask-jack {
    padding: 10px 50px;
    border-color: #fff;
    color: #fff;
}
.side-menu button {
    margin: 10px 0;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
.btn {
    border-radius: 0;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857;
}
.side-menu .become-expert:hover {
    border-color: #fff;
    background-color: #2a2a2a;
    color: #fff;
  }
  .side-menu .become-expert {
      padding: 10px 35px;
  }
  .side-menu .ask-jack:hover, .side-menu .become-expert {
      background-color: #fff;
      color: #000;
  }
  .clicks{
    border: 1px solid #fff;
    padding-left: 10px;
  padding: 8px 26px;
  margin-bottom: 5px;
}
.padding{
  padding: 15px 0 0;
}

.list-inline{
  .member{
  padding: 5px 29px;
  padding-bottom: 7px;
  }
}
// .btn:focus  {
//   outline: 0;
//    color: #333;
//
// }
.btn-animate-become{
  &:hover{
    &:focus{
      color:#333;
    }
  }
  &:focus{
    outline: 0;
  color:#fff;
  }
  &:active{
    outline: 0;
  color:#fff;
  }
}
.info{
  p{
    color: #969696;
  }
}
.btn-fit{
  padding: 5px 29px;
  padding-bottom: 7px;
}
.borderbot{    border-bottom: 1px solid #949292;}
//  .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus{
//    outline: 0;
//        color: #333;
// }
//side menu ends//
@import "fancybox-override";
@import "mobile";
