<footer class="mt60 footer">

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-3 col-xs-6">
        <div class="footer-menu" ng-controller="headerctrl">
          <ul>
            <li ng-if="!userLogedin && !expertLogedin" >
              <a ui-sref="login">
                  Login/Signup
                </a>
            </li>
            <li>
              <a href="" ui-sref="home">
                  Home
                </a>
            </li>
            <!-- <li>
              <a href="">
                  Booking
                </a>
            </li> -->
            <li ng-if="userLogedin || expertLogedin">
              <a ng-show="userLogedin" ui-sref="user-booking">
                  Booking
                </a>
                <a ng-show="expertLogedin" ui-sref="expert-booking">
                    Booking
                  </a>
            </li>
            <li ng-if="userLogedin || expertLogedin" controller="headerctrl">
              <a ng-show="userLogedin" ui-sref="edit-user({id:userdata._id})">
                Profile
                </a>
              <a ng-show="expertLogedin" ui-sref="expert-profile({id:userdata._id})">
                Profile
                </a>
            </li>
            <!-- <li>
              <a href="">
                  Profile
                </a>
            </li> -->
            <!-- <li>
              <a href="">
                  Account
                </a>
            </li> -->
            <!-- <li ng-if="userLogedin || expertLogedin" controller="headerctrl">
              <a href="">
                Account
                </a>
            </li> -->
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-3 col-xs-6">
        <div class="footer-menu">
          <ul class="padd1">
            <li>
              <a ui-sref="about">
                  About Us
                </a>
            </li>
            <li>
              <a ui-sref="contact">
                  Contact Us
                </a>
            </li>
            <li>
              <a ui-sref="faq">
                  Help
                </a>
            </li>
            <li>
              <a ui-sref="terms-condition">
                Terms & Condition
                </a>
            </li>
            <li>
              <a ui-sref="privacy">
              Privacy Policy
                </a>
            </li>

          </ul>
        </div>
      </div>

      <div class="col-md-4 col-sm-5 col-xs-12" ng-controller="headerctrl">
        <div class="newsletter tcenter">
          <h4 class="color-grey font-med font-raleway">Newsletter</h4>
          <!-- <p class="font-light color-base">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p> -->
          <form name="user">
          <p class="font-light color-base" ng-if="newsletter.comment=='Mail Sent'">Thank You For Submitting</p>
            <p class="font-light color-base" ng-if="newsletter.message=='User Already Exist'">Sorry User already exist</p>
            <p class="font-light color-base" ng-if="newsletter.comment=='incorrectEmail'">Please Enter Valid Email Address</p>
          <!-- <p class="font-light color-base" ng-if="newsletter.value==false">{{newsletter.error}}</p> -->
        <div class="display-inline">
          <!-- <form> -->
            <div class="form-group pull-left">
              <input type="email" class="form-control bk-grey" ng-model="newsletter.email">
            </div>
            <button type="submit" class="btn btn-animate-org submit" ng-click="newsletterSubmit(newsletter.email)">SUBMIT</button>

        </div>
        </form>
          <div class="social">
            <span class="color-base font-light">Be Social & Stay Connected</span>

            <div class="social-set">
              <ul class="padding0">
                <li>
                  <a href="" class="text-center">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</footer>
<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <p class="margin0 f-size">Copyright &copy; {{template.year}}. All Right Resvered.</p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="pull-right">
          <p class="margin0 f-size">Developed by <a href="http://www.wohlig.com" target="_blank">Wohlig Technology</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
