<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-5">
      <div class="navbar-header pull-left">
        <a class="navbar-brand display-inline">
          <!-- <img src="img/options.png" alt="menu" width="30">  -->
          <button type="button" class="hamburger" ng-click="getMenu();">
            <span class=""></span>
            <span class=""></span>
            <span class=""></span>
          </button>
        </a>
        <div class="logo display-inline ">
          <a ui-sref="home" class="display-inline">
            <img ng-src="img/Swaap-Logo-Final.png" alt="" class="img-responsive home-logo " width="180" alt="Home" title="Home"> </a>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-7">
        <div class="righ-side pull-right custom-li mt10">
          <ul class="list-inline">
            <li><a href="">become member</a></li>
            <li><a href="">member login</a></li>
            <li><a href=""><img src="img/log.png" alt=""></a></li>
            <li><a href="#"><img src="img/help.png" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
